/* primer selector */
h1 {
    color: blue;
}
h2 {
    color: red;
}
article h2 {
    color: red;
}
/* P {
    color: green; 
}*/

/* Selector con clases */
.texto{
    color: green;
}
article p{
    color: tomato;
} 
/* }selector con id */
#texto2 {
    color:blueviolet ;

}
